body{
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.errorModule {
  /*margin: 40px auto 20px;*/
  text-align: center;
  color: #A80000;
}
.errorModule .errorIcon {
  font-size: 34px;
  margin: 15px;
  animation: animateIcon 5s infinite;
}
.errorModule .errorMsg {
  font-size: 14px;
}
@keyframes animateIcon {
  0% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
  }
  100% {
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.button {
font-family:Arial, Helvetica, sans-serif;

font-size:18px;

border-radius:4px;

padding-left:10px;

padding-right:10px;

padding-top:5px;

padding-bottom:5px;

color:#ffffff;

background-color:#cc6666;

outline:none;

border:none;

cursor:pointer;

display:inline-block;

}

.button:hover {
color:#ffffff;

background-color:#8e4747;

}